In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
anime_df = pd.read_csv("data/animes.csv")
anime_df

,title_romaji,title_english,score,rank,popularity_rank,members,season,type,studio,genres,themes
0,Cowboy Bebop,NaN,8.75,45,42.0,1978236,Spring 1998,TV,Sunrise,"Action,Award_Winning,Sci-Fi,Space",Adult_Cast
1,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,8.38,209,642.0,398532,NaN,Movie,Bones,"Action,Sci-Fi,Space",Adult_Cast
2,Trigun,NaN,8.22,372,260.0,804224,Spring 1998,TV,Madhouse,"Action,Adventure,Sci-Fi,Shounen",Adult_Cast
3,Witch Hunter Robin,NaN,7.23,3234,1954.0,123630,Summer 2002,TV,Sunrise,"Action,Drama,Mystery,Supernatural,Detective",NaN
4,Bouken Ou Beet,Beet the Vandel Buster,6.92,4818,5660.0,16312,Fall 2004,TV,Toei Animation,"Action,Adventure,Fantasy,Shounen",NaN